GO_ENV=development

SERVICE_MODE=api

FOUNDRY_PASS=admin_pass
FOUNDRY_HOST=localhost:9090
FOUNDRY_WORLDS=
WORLD_USER=
WORLD_PASS=

DB_DSN="file:db/default.db?cache=shared"
DB_DSN_MIGRATE=sqlite3://db/default.db?query

LOG_LEVEL=info
NO_FOUNDRY=true 