{
    "content": "",
    "embeds": [
        {
            "title": "Link",
            "description": "",
            "color": 1752220,
            "thumbnail": {
                "url": "https://r2.foundryvtt.com/website-static-public/assets/icons/fvtt.png"
            },
            "fields": [
                {
                    "name": "**:one: Foundry Server Url**",
                    "value": "> {{ .Host }}"
                }
            ]
        }
    ]
}